<div style="background-color:#DB7093;font-family: serif;" align="center" >
  <font  size="8" color="white">Voting</font>
</div> <!-- getVotingQues($scope, $http); -->
<div ng-app="myApp.voting" class="container" align="center" ng-init="getSprintDetails('1');getTeamList('1')">


<style type="text/css">
.glyphicon.glyphicon-star{
    font-size: 30px;
}
.glyphicon.glyphicon-star-empty{
    font-size: 30px;
}	
.top-buffer { margin-top:20px; }
	
</style>

<br>
<div style="width:50%; align:center">



<button class="btn btn-success  btn-lg" ng-model="checkModel.left" uib-btn-checkbox data-toggle="tooltip" data-placement="top" title="Cancel Changes Sprint" ng-click= go('!/voting') >Cancel</button>
 <button class="btn btn-success  btn-lg" ng-model="checkModel.left" uib-btn-checkbox data-toggle="tooltip" data-placement="top" title="Submit Vote" ng-click="submitVoting()"> Submit </button>

</div>

<br>
<br>

<uib-accordion close-others="true" style='align:center'>


<uib-accordion-group heading="Vote Members" style="width:70%" panel-class="panel-primary" >
	
   
	<div ng-repeat="x in getArray(teamList.length) track by $index">



<div class="row top-buffer"> 

	
	<div class="col-sm-6 " style="align:right" >
	<label for="teamListSelect_$index">Please select the Team Performer</label>
     </div>
      
      

      <!-- <select  class="form-control" ng-model="member.name" ng-change="memberChanged(member)" 
      ng-options="member.name for member in ( teamList | filter : {isSelected:'false'} )">
      </select>  -->
      <div class="col-sm-5 "  align="center" >
      <select  id="teamListSelect_$index" class="form-control" ng-model="member.name" ng-change="memberChanged(member)"
      ng-options="member.empName for member in teamList " style="width:50%;align:left">
      </select>
      </div>
      </div>
      
 	</div>
    </uib-accordion-group>


    <uib-accordion-group heading="Sprint Feedback" style="width:70%" panel-class="panel-primary">
     	<p><h3>Please answers few questions about Team Work within your team</h3></p>

     	<div class="well well-sm" ng-repeat="feedback in qlist track by feedback.votingQue.id">
     		<div class="row"  >
     			<div class="col-sm-6"  align="left" >
     			<font size="4">{{ feedback.votingQue.question }}</font>
     			</div>
     			<div class="col-sm-5"  align="center" >
     			<uib-rating ng-model="feedback.rating" max="max" read-only="isReadonly" on-hover="hoveringOver(value,$index)" on-leave="overStar = null" titles="['Strongly Disagree','Disagree','Neither Agree Nor Disagree','Agree','Storngly Agree']" aria-labelledby="default-rating"> </uib-rating>
     			</div>
     			<div class="col-sm-1"  align="center">
     			
     			</div>
     		</div>
       	</div>
       	     
    </uib-accordion-group>
</uib-accordion>

<div>

</div>

</div>